html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

/* Marker */

.custom-marker{
    width:34px;
    height:34px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    border:2px solid white;
    box-shadow:0 2px 6px rgba(0,0,0,.35);
}

.marker-start{background:#2e7d32;}
.marker-sehenswuerdigkeit{background:#c62828;}
.marker-service{background:#546e7a;}
.marker-gastronomie{background:#ef6c00;}
.marker-warnung{background:#f9a825;color:#000;}
.marker-rast{background:#1565c0;}
.marker-hund{background:#6a1b9a;}
.marker-natur{background:#388e3c;}
.marker-bruecke{background:#00838f;}
.marker-oeffentlich{background:#5d4037;}

/* Infobox */

.tour-panel{
    background:white;
    padding:15px;
    border-radius:12px;
    width:280px;
    box-shadow:0 2px 12px rgba(0,0,0,.25);
}

.tour-panel h1{
    margin:0;
    font-size:20px;
}

.subtitle{
    color:#666;
    margin-bottom:10px;
}

.facts{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:8px;
    margin:10px 0;
}

.fact{
    background:#17c945;
    color:#fff;
    padding:10px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 2px 6px rgba(0,0,0,.18);
}

.fact b{
    color:#fff;
    font-size:18px;
}

.fact{
    line-height:1.35;
}

.legend{
    background:white;
    padding:12px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.25);
    font-size:14px;
}

.legend-title{
    font-weight:bold;
    margin-bottom:8px;
}

.popup-type{
    color:#666;
    font-size:12px;
}
.legend-item{
    display:flex;
    align-items:center;
    gap:10px;
    margin:7px 0;
    font-size:14px;
}

.legend-icon{
    width:26px;
    height:26px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    border:2px solid #fff;
    box-shadow:0 2px 6px rgba(0,0,0,.25);
    flex-shrink:0;
}

.legend-icon.marker-start{background:#2e7d32;}
.legend-icon.marker-sehenswuerdigkeit{background:#c62828;}
.legend-icon.marker-service{background:#546e7a;}
.legend-icon.marker-gastronomie{background:#ef6c00;}
.legend-icon.marker-warnung{background:#f9a825;color:#000;}
.legend-icon.marker-rast{background:#1565c0;}
.legend-icon.marker-hund{background:#6a1b9a;}
.legend-icon.marker-natur{background:#388e3c;}
.legend-icon.marker-bruecke{background:#00838f;}
.legend-icon.marker-oeffentlich{background:#5d4037;}
